@tailwind base;
@tailwind components;

:root {
  box-sizing: border-box;
  --primary-color: orangered;
  --secondary-color: #eee;
}

header {
  position: relative;
}

.header-welcome {
  color: #eee;
  position: relative;
  background-color: var(--primary-color);
  height: 24px;
}

.header-welcome * {
  display: inline;
}

.header-left {
  position: absolute;
  left: 30px;
  width: max-content;
}

.header-right {
  position: absolute;
  right: 30px;
  width: max-content;
}

.header-content {
  position: relative;
  background-color: lightblue;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#main-icon {
  height: 150px;
  position: relative;
  left: 30px;
  background-color: indigo;
}

#search-bar {
  width: 568px;
  height: 40px;
  border-radius: 25px;
  background-color: var(--secondary-color);
  padding-left: 30px;
}

#search-bar:focus,
#search-bar:hover {
  outline: 1px solid red;
}

#search-bar::before {
  content: url('../public/magnifier.svg');
}

#search-button {
  background-color: var(--primary-color);
  color: #eee;
  height: 40px;
  width: 80px;
  border-radius: 0 15px 15px 0;
  position: relative;
  left: -80px;
}

#login-div {
  display: grid;
  grid-template: auto / auto auto;
  width: 250px;
  font-size: 14px;
}

#login-icon {
  height: 50px;
}

#login-spans {
  height: 48px;
}

#cart-div {
  position: relative;
}

#cart {
  height: 50px;
}

#itens-em-carrinho {
  background-color: limegreen;
  color: white;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -10px;
  user-select: none;
}

#sidebar {
  /* mudar pra display: none quando terminar de construir */

  position: absolute;
  top: 0;
  /* Comentado porque foi colocado diretamente no HTML: */
  /* right: -200px; */
}

#sidebar-button {
  display: none;
}

@media screen and (min-width: 769px) and (max-width: 1248px) {
  body {
    background-color: lightpink;
  }

  #search-bar {
    width: 300px;
    position: relative;
    left: 30px;
  }

  #search-button {
    left: 0px;
  }

  #login-div {
    width: 150px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    background-color: lightblue;
  }
  #main-icon {
    height: 100px;
  }
  #search-bar {
    width: 150px;
    position: relative;
    left: 30px;
    font-size: 12px;
  }
  #search-button {
    padding: 5px;
    left: 0px;
    font-size: 12px;
    width: max-content;
  }
  #login-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
  }
  #login-spans {
    height: max-content;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: royalblue;
  }
  #main-icon {
    display: none;
    height: 75px;
  }
  #search-bar {
    width: 150px;
  }
  #search-button {
    width: 55px;
    left: -30px;
    font-size: 16px;
  }
  #login-div {
    display: none;
  }
  #cart-div {
    display: none;
  }
  #sidebar-button {
    display: block;
    height: 50px;
  }
  #sidebar-button img {
    height: 24px;
    width: 24px;
  }
  #sidebar {
    position: absolute;
    z-index: 1;
    height: 1000px;
    width: 100px;
    top: 0;
    background-color: indigo;
    padding: 0 10px;
    transition:
      width 0.5s,
      right 0.5s;
    box-shadow: -10px 0 10px rgba(211, 211, 211, 0.3);
  }
  #close-sidebar-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 50px;
    background-color: red;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }
  #sidebar-title {
    position: relative;
    right: 10px;
    height: 100px;
    width: 300px;
    background-color: aqua;
    margin-top: 20px;
    text-align: center;
  }
}
